:root {
  --background-color: #343541;
  --sidebar-color: #202123;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
	margin: 0;
  background-color: red;
  color: red;
  font-family: Arial, sans-serif;
}

#svelte-app {
  display: flex;
  height: 100%;
}